name: Build & Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build backend image
    - name: Build backend image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/lms-backend:latest ./backend

    - name: Push backend image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/lms-backend:latest

    # Build frontend image
    - name: Build frontend image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/lms-frontend:latest ./frontend

    - name: Push frontend image
      run: docker push ${{ secrets
